<h2>Perfil del Usuario</h2>
<div class="column">
  <label for="username">Nombre de Usuario</label>
  <input type="text" name="username" value="{{user.username}}">
  <button type="submit">Editar</button>
</div>
<br>
<label for="favorits">Favoritos</label>
<div class="row justify-content-around">
  {{!-- <p>HOLAAA</p> --}}

  {{!-- <p>{{user.event.email}}</p> --}}
  <div class="col-3">
    {{#each user.event}}
    <a href="#">{{email}}</a>
    {{/each}}
  </div>
</div>