<h1>Buscador de Parques Comunidad de Madrid</h1>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <label for="Parque">Parque</label>
      <select name="" id="">
        {{#each parks}}
        <option value="{{_id}}">{{DS_NOMBRE}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-2">
      <label for="Mesa">Mesa</label><input type="checkbox" name="Mesa" id="Mesa"><br>
      <label for="Banco">Banco</label><input type="checkbox" name="Banco" id="Banco"><br>
      <label for="Papelera">Papelera</label><input type="checkbox" name="Papelera" id="Papelera"><br>
      <label for="Contenedor">Contenedor</label><input type="checkbox" name="Contenedor" id="Contenedor"><br>
      <label for="Fuente">Fuente</label><input type="checkbox" name="Fuente" id="Fuente"><br>
      <label for="Senal">Señal</label><input type="checkbox" name="Senal" id="Senal"><br>
      <label for="Juegos">Juegos</label><input type="checkbox" name="Juegos" id="Juegos"><br>
      <label for="Senda">Senda</label><input type="checkbox" name="Senda" id="Senda"><br>
      <label for="Kiosco">Kiosco</label><input type="checkbox" name="Kiosco" id="Kiosco"><br>
      <label for="Aseos">Aseos</label><input type="checkbox" name="Aseos" id="Aseos"><br>
      <label for="Estacionamiento">Estacionamiento</label><input type="checkbox" name="Estacionamiento"
        id="Estacionamiento"><br>
      <label for="Bicis">Parking Bicis</label><input type="checkbox" name="Bicis" id="Bicis"><br>
      <label for="Bano">Baño</label><input type="checkbox" name="Bano" id="Bano"><br>
      <label for="Barbacoa">Barbacoa</label><input type="checkbox" name="Barbacoa" id="Barbacoa"><br>
      <button type="submit">Buscar</button>
    </div>
    <div class="col-10">
      <figure class="heigth" id="map"></figure>
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>