h1{
  text-align: center;
}
body {
  // padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url(/images/parkImages/fondo.jpg)
  background: cornsilk;
}

a {
  color: #00B7FF;
}
.navbar {
    margin-bottom: 60px;
}
.btn{
  border-radius: 3px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);

}
.btn-dark{
  background-color: brown;
}
.btn-dark:hover{
  background-color: #37B839;
}
.btn-dark:active{
  background-color: #29962A;
}
.heigth{
  height: 400px;
}
.form-control{
  height: 40px;
  width: 900px;
  
}
.putadd{
  margin-top: 40px;
}

// .home-inner{
//   background-image: url(../images/parkImages/fondo.jpg);
  
//   position: fixed;
//   display: table;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-size: cover;
//   background-position: center center;
//   -webkit-transform: translateZ(0);
//           transform: translateZ(0);
//   will-change: transform;

// }
.home-inner{
  padding: 20px;
  font: 15px;
}
.find{
  padding-left: 10px;
  margin-left: 3px;
}
.form-h2 {
  text-align: center;
  padding-top: 18vh;
}
.container {
    padding: 40px;
}
.login{
  margin: 20px auto 40px auto;
}
.icons{
  display: flex;
  justify-content: center;
}
  img{
    width: 110px;
    height: 80%;
    opacity: .6;
  }
  .icn-middle{
    margin: 0 80px;
  }
 .find{
   padding: 20px;
   font: 10px
 }
 .button1{
   margin: 10px;
   margin-bottom: 15px;
   padding: 5px;
 }